body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bandeira {
  width: 300px;
  height: 210px;
  background-image: linear-gradient(-224deg, #00923f 31%, transparent 30%),
    linear-gradient(-44deg, #6699fe 58%, transparent 30%);
  border: solid 5px #f9f9f9;
  box-shadow: 0px 0px 2px #333;
}

.estrela {
  color: #ffff00;
  font-size: 68px;
  position: absolute;
  right: 25px;
  bottom: -37px;
}
